.hawk-container {
  width: 100%;
  .hawk-table {
    width: 100%;
  }
  &--hawk-selected {
    .hawk-table {
      width: 60%;
    }
    .edit-hawk {
      width: 40%;
    }
  }
  &__table-and-editor {
    display: flex;
    width: 100%;
  }
}